<div class="about d-flex align-items-center" id="aboutMe">
    <div class="container ">
        <div class="row g-5 d-flex align-items-center">
        <h2 class="display-5 fw-bold text-center text-white">About Me</h2>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 ">
            <div class="">
                <div class="text-center">
                    <img src="../../assets/img/code.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg">
            <div class="card-about ">
                <div class="card-body p-5 text-center">
                    <h3 class="text-white pb-3">From Skyline to Code lines</h3>
                    <p class="text-white">
                        Originally, I'm from the Czech Republic and moved to Vienna in 2014. 
                        I started working as a housekeeping maid; <span class="hl">cleaning hotelrooms</span> in the DC Tower with a Vienna skyline backdrop. 
                        Eventually, I was able to work my way up to <span class="hl">assistent housekeeping manager</span> for a hotel franchise situated in the first disctrict.
                        In 2020 I lost my Job during the <span class="hl">Corona pandemy</span> and saw no more future in tourism and decided to refocus.
                        Thanks to AMS, I'm now doing something that has interested me since my childhood, but was never able to explore before: <span class="hl">Creating Webpages.</span> 
                    </p>
                    <div class="links">
                        <a href="https://github.com/venybuchty" target="_blank" class="btn btn-dark">GitHub
                            <img src="../../assets/img/github-2.png" alt="VenyBuchty" 
                                class="rounded-circle">
                        </a>
                        <a href="https://www.linkedin.com/in/vendula-buchtova/" target="_blank" class="btn btn-dark">LinkedIn
                            <img src="../../assets/img/linked.png"
                                alt="VenyBuchty"  class="rounded-circle">
                        </a>
                    </div>        
                </div>
            </div>
        </div>
        
    </div>
    </div>
    
</div> 

