.about {
  padding-top: 5rem;
  min-height: 90vh;
  object-fit: cover;
  background-image: url(../../assets/img/waves.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
  animation: animate 30s ease-in-out infinite reverse;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }

  50% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0;
  }
}

.card-about {
  margin: 0 auto;
  max-width: 100rem;
  background: rgba(223, 223, 223, 0.35);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

img {
  height: 25rem;
  object-fit: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px -4px #000000;
  box-shadow: 0px 5px 20px -4px #000000;
}

.hl {
  color: #77f27f;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .btn {
    border-radius: 10px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    &:hover {
      color: #77f27f;
    }

    img {
      height: 2rem;
      border-radius: 20px;
      border: 1px solid white;
      margin-left: 1rem;
    }
  }
}
