<div class="about" id="aboutMe">
    <div class="container">
        <div class="row g-5 d-flex align-items-center">
        <h2 class="display-5 fw-bold text-center text-white">About</h2>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="">
                <div class="text-center">
                    <img src="../../assets/img/code.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg">
            <div class="card-about ">
                <div class="card-body text-center">
                    <p class="text-white p-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. <span
                            class="hl">Veritatis accusamus</span> rerum fuga? Vero, repellendus aperiam, ullam perferendis sed,
                        officiis <span class="hl">placeat</span> id ipsam atque non ipsum porro consectetur eaque eveniet repellat? Lorem ipsum dolor
                        sit amet, consectetur adipisicing elit. Numquam id accusantium <span class="hl">libero reprehenderit</span> voluptatem quis
                        magni explicabo saepe, veritatis quasi sunt praesentium similique consectetur, incidunt facilis magnam
                        officia amet cupiditate. harum eveniet?</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</div> 

