<app-navbar></app-navbar>
<div class="hero" id="hero">
    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse justify-content-center align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../assets/img/facetop.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="0">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3 text-white" data-aos="fade-down" data-aos-duration="1000">Hi, my name is <span class="hl">Vendula</span> and I am a Front-End<span class="hl"> Web Developer</span> </h1>
            <p class="lead text-white mt-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1000">Welcome to my page. Here you will find my <span class="hl">portfolio</span> and some information about me. Stay tuned for more!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
               
            </div>
        </div>
    </div>
</div>
</div>


