<div class="contact" id="contact">
    <div class="container">
        <div class="row g-5 d-flex align-items-center">
            <h2 class="display-5 fw-bold text-center text-white">Contact me</h2>
            <p class="text-white text-center mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates enim facilis, nemo tenetur molestias esse? Fuga dolores quo et, natus exercitationem obcaecati consectetur, repellat placeat veniam officiis vel eum voluptas?</p>
            <div class="row">
                <div class="col card-contact">
                    <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
                        <div class="form-group text-white mt-3">
                            <label for="Email">Your email</label>
                            <input type="email" class="form-control" name="Email" aria-describedby="emailHelp"
                                placeholder="Enter email" formControlName="Email">
                            <small id="emailHelp" class="form-text msg">I'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group text-white mt-3">
                            <label for="fullname">Your name</label>
                            <input type="text" class="form-control" name="FullName" placeholder="Enter Name"
                                formControlName="Fullname">
                        </div>
                        <div class="form-group text-white mt-3">
                            <label for="comment">Your message</label>
                            <textarea class="form-control" formControlName="Comment" name="Comment">
            </textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn bg-btn my-3 text-white" [disabled]="!FormData.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>

</div>