<div class="work" id="portfolio">
    <div class="container">
        <h2 class="display-5 fw-bold text-center text-white mb-5">My portfolio</h2>
        <p class="text-white text-center mb-5">I worked on these pages as part of a <span class="hl">full-stack</span> developer course.</p>       

            <div class="row row-cols-1 row-cols-md-2  row-cols-lg-2 row-cols-xl-2 row-cols-xxl-3 g-4">
                <div class="col">
                        <div class="card card-work">
                            <img src="../../assets/img/cr3.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                                <h4 class="card-title">Skapid'or</h4>
                                <h6>Front-End Project No.1</h6>
                                <p>Find lots of tasty dishes on Skapi'dor, the leading hipster restaurant in your gentrified neighbourhood.</p>
                                <hr>
                                <div class="links">
                                    <p><a href="./CR03/index.html" target="_blank" class="btn btn-dark">View Page<img src="../../assets/img/web.png" alt="VenyBuchty" class="rounded-circle"></a></p>
                                    <p><a href="https://github.com/VenyBuchty/FE21-CR3-VendulaBuchtova" target="blank" class="btn btn-dark">View Code<img src="../../assets/img/github-2.png" alt="VenyBuchty" class="rounded-circle"></a></p>
                                </div>
                                <div class="portfolio_technologies card-footer">
                                    <i class="fab icon fa-html5"></i>
                                    <i class="fab icon fa-css3-alt"></i>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col">
                        <div class="card card-work">
                            <img src="../../assets/img/cr4.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                                <h4 class="card-title">Movielix</h4>
                                <h6>Front-End Project No.2</h6>
                                <p>Find and rate your favorite movies. Discover some new ones for a rainy movie night or a rough hangover day.</p>
                                <hr>
                                <div class="links">
                                    <p><a href="./CR04/index.html" target="_blank" class="btn btn-dark">View Page<img src="../../assets/img/web.png"
                                                alt="VenyBuchty" class="rounded-circle"></a></p>
                                    <p><a href="https://github.com/VenyBuchty/FE21-CR4-VendulaBuchtova" target="blank" class="btn btn-dark">View Code<img
                                                src="../../assets/img/github-2.png" alt="VenyBuchty" class="rounded-circle"></a></p>
                                </div>
                                <div class="portfolio_technologies card-footer">
                                    <i class="fab icon fa-html5"></i>
                                    <i class="fab icon fa-css3-alt"></i>
                                    <i class="fab icon fa-bootstrap"></i>
                                    <i class="fab icon fa-js-square"></i>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col">
                        <div class="card card-work">
                            <img src="../../assets/img/cr5.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                            <h4 class="card-title">TraXpy</h4>
                            <h6>Front-End Project No.3</h6>
                            <p>Your trusty travel blog. Discover information about interesting places, exotic restaurants and exciting events. No
                                Ads, I swear. </p>
                                <hr>
                            <div class="links">
                                <p><a href="./CR05/index.html" target="_blank" class="btn btn-dark">View Page<img src="../../assets/img/web.png"
                                            alt="VenyBuchty" class="rounded-circle"></a></p>
                                <p><a href="https://github.com/VenyBuchty/FE21-CR5-VendulaBuchtova" target="blank" class="btn btn-dark">View
                                        Code<img src="../../assets/img/github-2.png" alt="VenyBuchty" class="rounded-circle"></a></p>
                            </div>
                            <div class="portfolio_technologies card-footer">
                                <i class="fab icon fa-html5"></i>
                                <i class="fab icon fa-css3-alt"></i>
                                <i class="fab icon fa-bootstrap"></i>
                                <i class="fab icon fa-js-square"></i>
                                <i class="fab icon fa-sass"></i>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="col">
                        <div class="card card-work">
                            <img src="../../assets/img/cr6.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                                <h4 class="card-title">Sunny Travel</h4>
                                <h6>Front-End Project No.4</h6>
                                <p>If you want to book your dream vacation make a reservation here. Beautiful beaches everywhere. Even better than Copa
                                    Cagrana.</p>
                                    <hr>
                                <div class="links">
                                    <p><a href="./CR06/index.html" target="_blank" class="btn btn-dark">View Page<img src="../../assets/img/web.png"
                                                alt="VenyBuchty" class="rounded-circle"></a></p>
                                    <p><a href="https://github.com/VenyBuchty/FE21-CR6-VendulaBuchtova" target="blank" class="btn btn-dark">View
                                            Code<img src="../../assets/img/github-2.png" alt="VenyBuchty" class="rounded-circle"></a></p>
                                </div>
                                <div class="portfolio_technologies card-footer">
                                    <i class="fab icon fa-html5"></i>
                                    <i class="fab icon fa-css3-alt"></i>
                                    <i class="fab icon fa-angular"></i>
                                    <i class="fab icon fa-bootstrap"></i>
                                    <i class="fab icon fa-js-square"></i>
                                    <i class="fab icon fa-sass"></i>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col">
                        <div class="card card-work">
                            <img src="../../assets/img/cr7.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                            <h4 class="card-title">Code Factory Landing Page</h4>
                            <h6>Front-End Project No.5</h6>
                            <p>This was a nice group project with cool people :)</p>
                            <div class="justify-content-evenly d-flex hl">
                                <a href="http://szabo.codefactory.live" target="_blank">Ariel</a> |
                                <a href="http://brouwers.codefactory.live" target="_blank">Ronny</a> |
                                <a href="http://tenschert.codefactory.live" target="_blank">Samuel</a> 
                            </div>
                            <hr>
                            <div class="links users">
                                <p><a href="./CR07/index.html" target="_blank" class="btn btn-dark">View Page<img src="../../assets/img/web.png"
                                    alt="VenyBuchty" class="rounded-circle"></a></p>
                                    <p><a href="https://github.com/VenyBuchty/Front-end-Project" target="blank" class="btn btn-dark">View
                                        Code<img src="../../assets/img/github-2.png" alt="VenyBuchty" class="rounded-circle"></a></p>
                                    </div>
                            <div class="portfolio_technologies card-footer">
                                <i class="fab icon fa-html5"></i>
                                <i class="fab icon fa-css3-alt"></i>
                                <i class="fab icon fa-angular"></i>
                                <i class="fab icon fa-bootstrap"></i>
                                <i class="fab icon fa-js-square"></i>
                                <i class="fab icon fa-sass"></i>
                            </div>
                            </div>
                        </div>
                </div>

                <div class="col">
                        <div class="card card-work">
                            <img src="../../assets/img/cr10.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                                <h4 class="card-title">Big Library</h4>
                                <h6>Back-End Project No.1</h6>
                                <p>My very first php project. It is a media database. You can browse the database and even add your own media.</p>
                                <hr>
                                <div class="links">
                                    <p><a href="./CR10/index.php" target="_blank" class="btn btn-dark">View Page<img src="../../assets/img/web.png"
                                                alt="VenyBuchty" class="rounded-circle"></a></p>
                                    <p><a href="https://github.com/VenyBuchty/FE21-CR10-Vendula" target="blank" class="btn btn-dark">View
                                            Code<img src="../../assets/img/github-2.png" alt="VenyBuchty" class="rounded-circle"></a></p>
                                </div>
                                <div class="portfolio_technologies card-footer">
                                    <i class="fab icon fa-html5"></i>
                                    <i class="fab icon fa-css3-alt"></i>
                                    <i class="fab icon fa-bootstrap"></i>
                                    <i class="fab icon fa-php"></i>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="col">
                        <div class="card card-work">
                            <img src="../../assets/img/cr12.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                                <h4 class="card-title">Mount Everest Travel Agency</h4>
                                <h6>Back-End Project No.2</h6>
                                <p>It is a travel agency that offers trips. It is possible to change and add more offers. I have also used APIs here, for
                                example Google maps.</p>
                                <hr>
                                <div class="links">
                                    <p><a href="./CR12/index.php" target="_blank" class="btn btn-dark">View Page<img src="../../assets/img/web.png"
                                                alt="VenyBuchty" class="rounded-circle"></a></p>
                                    <p><a href="https://github.com/VenyBuchty/CF-CR12-VendulaBuchtova" target="blank" class="btn btn-dark">View
                                            Code<img src="../../assets/img/github-2.png" alt="VenyBuchty" class="rounded-circle"></a></p>
                                </div>
                                <div class="portfolio_technologies card-footer">
                                    <i class="fab icon fa-html5"></i>
                                    <i class="fab icon fa-css3-alt"></i>
                                    <i class="fab icon fa-bootstrap"></i>
                                    <i class="fab icon fa-php"></i>
                                </div>
                            </div>
                        </div>
                </div>


                <div class="col">
                            <div class="card card-work">
                                <img src="../../assets/img/poke.png" class="card-img-top" alt="...">
                                <div class="card-body portfolio_content">
                                    <h4 class="card-title">Pokedex</h4>
                                    <h6>Front-End Project No.6</h6>
                                    <p>Pokedex is a database of pokemon created using Angular. Here I tried for the first time to combine API and Angular
                                    together</p>
                                    <hr>
                                    <div class="links">
                                        <p><a href="./pokedex/index.html" target="_blank" class="btn btn-dark">View Page<img src="../../assets/img/web.png"
                                                    alt="VenyBuchty" class="rounded-circle"></a></p>
                                        <p><a href="https://github.com/VenyBuchty/pokedex" target="blank" class="btn btn-dark">View
                                                Code<img src="../../assets/img/github-2.png" alt="VenyBuchty" class="rounded-circle"></a></p>
                                    </div>
                                    <div class="portfolio_technologies card-footer">
                                        <i class="fab icon fa-html5"></i>
                                        <i class="fab icon fa-css3-alt"></i>
                                        <i class="fab icon fa-angular"></i>
                                        <i class="fab icon fa-bootstrap"></i>
                                        <i class="fab icon fa-sass"></i>
                                </div>
                            </div>
                        </div>
            </div>
    </div>
</div>