<div class="work" id="portfolio">
    <div class="container">
        <h2 class="display-5 fw-bold text-center text-white mb-5">My portfolio</h2>
        <p class="text-white text-center mb-5">I worked on these pages as part of a full-stack developer course.</p>       

            <div class="row row-cols-1 row-cols-md-2  row-cols-lg-3 g-4">
                <div class="col">
                    <a href="./CR02/index.html" target="_blank">
                        <div class="card card-work">
                            <img src="../../assets/img/cr2.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                                <h4 class="card-title">Personal Blog</h4>
                                <h6>Code Review No.2</h6>
                                <p>Basic Personal Blog with vanilla technologies. You're better off checking out the other projects as they were created
                                    later in the course.</p>
                                <div class="portfolio_technologies card-footer">
                                    <i class="fab fa-html5"></i>
                                    <i class="fab fa-css3-alt"></i>
                                    <i class="fab fa-github"></i>
                                </div>
                            </div>
                        </div>
                    </a>   
                </div>
                <div class="col">
                    <a href="./CR03/index.html" target="_blank">
                        <div class="card card-work">
                            <img src="../../assets/img/cr3.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                                <h4 class="card-title">Skapi'dor</h4>
                                <h6>Code Review No.3</h6>
                                <p>Find lots of tasty dishes on Skapi'dor, the leading hipster restaurant in your gentrified neighbourhood.</p>
                                <div class="portfolio_technologies card-footer">
                                    <i class="fab fa-html5"></i>
                                    <i class="fab fa-css3-alt"></i>
                                    <i class="fab fa-github"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="./CR04/index.html" target="_blank">
                        <div class="card card-work">
                            <img src="../../assets/img/cr4.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                                <h4 class="card-title">Movieflix</h4>
                                <h6>Code Review No.4</h6>
                                <p>Find and rate your favorite movies. Discover some new ones for a rainy movie night or a rough hangover day.</p>
                                <div class="portfolio_technologies card-footer">
                                    <i class="fab fa-html5"></i>
                                    <i class="fab fa-css3-alt"></i>
                                    <i class="fab fa-bootstrap"></i>
                                    <i class="fab fa-js-square"></i>
                                    <i class="fab fa-github"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="./CR05/index.html" target="_blank">
                        <div class="card card-work">
                            <img src="../../assets/img/cr5.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                            <h4 class="card-title">TraXpy</h4>
                            <h6>Code Review No.5</h6>
                            <p>Your trusty travel blog. Discover information about interesting places, exotic restaurants and exciting events. No
                                Ads, I swear. </p>
                            <div class="portfolio_technologies card-footer">
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-css3-alt"></i>
                                <i class="fab fa-bootstrap"></i>
                                <i class="fab fa-js-square"></i>
                                <i class="fab fa-github"></i>
                                <i class="fab fa-sass"></i>
                            </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="./CR06/index.html" target="_blank">
                        <div class="card card-work">
                            <img src="../../assets/img/cr6.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                                <h4 class="card-title">Sunny Travel</h4>
                                <h6>Code Review No.6</h6>
                                <p>If you want to book your dream vacation make a reservation here. Beautiful beaches everywhere. Even better than Copa
                                    Cagrana.</p>
                                <div class="portfolio_technologies card-footer">
                                    <i class="fab fa-html5"></i>
                                    <i class="fab fa-css3-alt"></i>
                                    <i class="fab fa-angular"></i>
                                    <i class="fab fa-bootstrap"></i>
                                    <i class="fab fa-js-square"></i>
                                    <i class="fab fa-github"></i>
                                    <i class="fab fa-sass"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="./CR07/index.html" target="_blank">
                        <div class="card card-work">
                            <img src="../../assets/img/cr7.png" class="card-img-top" alt="...">
                            <div class="card-body portfolio_content">
                            <h4 class="card-title">Code Factory Landing Page</h4>
                            <h6>Front-End Project</h6>
                            <p>This was a nice group project with cool people :)</p>
                            <div>
                                <a href="http://szabo.codefactory.live" target="_blank">Ariel</a> |
                                <a href="http://brouwers.codefactory.live" target="_blank">Ronny</a> |
                                <a href="http://tenschert.codefactory.live" target="_blank">Samuel</a> 
                            </div>
                            <div class="portfolio_technologies card-footer">
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-css3-alt"></i>
                                <i class="fab fa-angular"></i>
                                <i class="fab fa-bootstrap"></i>
                                <i class="fab fa-js-square"></i>
                                <i class="fab fa-github"></i>
                                <i class="fab fa-sass"></i>
                            </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </div>
</div>