.work {
  padding-top: 5rem;
  min-height: 90vh;
  object-fit: cover;
  background-image: url(../../assets/img/waves.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
  animation: animate 30s ease-in-out infinite reverse;
}

.card-work {
  margin: 0 auto;
  max-width: 100rem;
  background: rgba(223, 223, 223, 0.35);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.bg-cr2 {
  background-image: url("../../assets/img/cr2.png");
  background-size: cover;
  height: 12rem;
  border-radius: 10px 0 0 10px;
}

.bg-cr3 {
  background-image: url("../../assets/img/cr3.png");
  background-size: cover;
  height: 12rem;
  border-radius: 10px 0 0 10px;
}

.bg-cr4 {
  background-image: url("../../assets/img/cr4.png");
  background-size: cover;
  height: 12rem;
  border-radius: 10px 0 0 10px;
}

.bg-cr5 {
  background-image: url("../../assets/img/cr5.png");
  background-size: cover;
  height: 12rem;
  border-radius: 10px 0 0 10px;
}

.bg-cr6 {
  background-image: url("../../assets/img/cr6.png");
  background-size: cover;
  height: 12rem;
  border-radius: 10px 0 0 10px;
}

.bg-cr7 {
  background-image: url("../../assets/img/cr7.png");
  background-size: cover;
  height: 12rem;
  border-radius: 10px 0 0 10px;
}
