<div class="work" id="portfolio">
    <div class="container">
        <h2 class="display-5 fw-bold text-center text-white">My portfolio</h2>
        <p class="text-white text-center mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates enim facilis,
            nemo tenetur molestias esse? Fuga dolores quo et, natus exercitationem obcaecati consectetur, repellat placeat
            veniam officiis vel eum voluptas?</p>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-white">
                    <div class="card-work mb-3" >
                        <div class="row g-0">
                            <div class="col-md-4 bg-cr2 pf-item">
                            </div>
                            <div class="col-md-8 card-text">
                                    <h5 class="card-title">Code Review No.2</h5>
                                    <p>Page created as week test.</p>
                                    <div class="d-flex justify-content-start flex-wrap ">
                                        <div class="p-1">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-html5"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="p-1">
                                        <h4>
                                            <span class="badge bg-dark">
                                                <i class="fab fa-css3-alt"></i>
                                            </span>
                                        </h4>
                                        </div>
                                        <div class="p-1">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-github"></i>
                                                </span>
                                            </h4>
                                        </div>
                                    </div>        
                                
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-white">
                    <div class="card-work mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 bg-cr3 pf-item">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Code Review No.3</h5>
                                    <p>Page created as week test.</p>
                                    <div class="d-flex justify-content-start flex-wrap">
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-html5"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-css3-alt"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-github"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-bootstrap"></i>
                                                </span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-white">
                    <div class="card-work mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 bg-cr4 pf-item">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Code Review No.4</h5>
                                    <p>Page created as week test.</p>
                                    <div class="d-flex justify-content-start flex-wrap">
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-html5"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-css3-alt"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-github"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-bootstrap"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-js-square"></i>
                                                </span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-white">
                    <div class="card-work mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 bg-cr5 pf-item">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Code Review No.5</h5>
                                    <p>Page created as week test.</p>
                                    <div class="d-flex justify-content-start flex-wrap">
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-html5"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-css3-alt"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-github"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-bootstrap"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-sass"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-js-square"></i>
                                                </span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-white">
                    <div class="card-work mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 bg-cr6 pf-item">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Code Review No.6</h5>
                                    <p>Page created as week test.</p>
                                    <div class="d-flex justify-content-start flex-wrap">
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-html5"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-css3-alt"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-github"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-bootstrap"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-sass"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-js-square"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-angular"></i>
                                                </span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-white">
                    <div class="card-work mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 bg-cr7 pf-item">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Code Review No.7</h5>
                                    <p>Page created as week test.</p>
                                    <div class="d-flex justify-content-start flex-wrap">
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-html5"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-css3-alt"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-github"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-bootstrap"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-sass"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-js-square"></i>
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="mx-2">
                                            <h4>
                                                <span class="badge bg-dark">
                                                    <i class="fab fa-angular"></i>
                                                </span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        
    </div>
 


</div>
